# dune
/_build

# syncweb
*.md5sum_*
/docs/Visual.aux
/docs/Visual.bbl
/docs/Visual.blg
/docs/Visual.brf
/docs/Visual.log
/docs/Visual.out
/docs/Visual.tex
/docs/Visual.toc
Visual-*.pdf

# temporary
/*.opam
!/codemap.opam
