_build
.merlin

/project.el
/skip_list.txt
/top.ml
/codemap.install

# syncweb
*.md5sum_*
/lib/Visual.aux
/lib/Visual.bbl
/lib/Visual.blg
/lib/Visual.brf
/lib/Visual.log
/lib/Visual.out
/lib/Visual.tex
/lib/Visual.toc
Visual-*.pdf
