# dune
_build

# syncweb
*.md5sum_*
/docs/literate/Visual.aux
/docs/literate/Visual.bbl
/docs/literate/Visual.blg
/docs/literate/Visual.brf
/docs/literate/Visual.log
/docs/literate/Visual.out
/docs/literate/Visual.tex
/docs/literate/Visual.toc
Visual-*.pdf
